<div id="buffer-modal" class="modal modal--center-column modal--hidden">
    <div class="modal__content">
        <div class="container container--padded container--centered-vertical">
            <img src="../images/buffer.gif" class="buffer-image">
            <p id="buffer-modal-message"></p>
        </div>
    </div>
</div>