<div class="modal modal--hidden" id="change_password-modal">
    <div class="modal__content">
        <div class="modal__close modal__close--upper-right-x">&times;</div>
        <div class="container container--padded container--fill">
            <form class="form">
                <div class="form__header form__header--start-centered-horizontal">
                    <h2 class="form__title">Change Password</h2>
                </div>

                <label for="oldpassword" class="form__label">Old Password</label>
                <input type="password" name="oldpassword" id="oldpassword" class="form__input required">

                <div class="form__input-group">
                    <div>
                        <label for="password" class="form__label">New Password</label>
                        <input type="password" name="password" id="password" class="form__input required">
                    </div>
                    <div>
                        <label for="confirm-password" class="form__label">Confirm Password</label>
                        <input type="password" name="confirm-password" id="confirm-password" class="form__input required">
                    </div>
                </div>
                <div class="form__footer form__footer--end-horizontal">
                    <button type="submit" class="button" id="change-password">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>