<div class="modal modal--hidden" id="check-in-modal">
    <div class="modal__content">
        <div class="modal__close modal__close--upper-right-x">&times;</div>
        <div class="container container--padded container--fill">
            <form class="form" id="check-in-form">
                <div class="form__header form__header--start-centered-horizontal">
                    <h2 class="form__title">Check-In</h2>
                </div>
                <div class="form__input-group">
                    <div>
                        <label for="check-in-form__date" class="form__label">Date</label>
                        <input type="date" class="form__input form__input--sm required" id="check-in-form__date" name="date"  value="{{getCurrentDate}}">
                    </div>
                    <div>
                        <label for="check-in-form__trip" class="form__label">Source and Destination</label>
                        <select class="form__input form__input--sm" id="check-in-form__trip" name="trip">
                            <option value="MNL-to-LAG">Manila to Laguna</option>
                            <option value="LAG-to-MNL">Laguna to Manila</option>
                        </select>
                    </div>
                </div>
                <div class="form__input-group">
                    <div>
                        <label for="check-in-form__time" class="form__label">Time</label>
                        <select class="form__input form__input--sm" id="check-in-form__time" name="time">
                        </select>
                    </div>
                    <div>	
                        <label for="check-in-form__id-number" class="form__label">ID Number</label>
                        <input type="text" id="check-in-form__id-number" name="id-number" class="form__input form__input--sm numonly required">
                    </div>
                </div>
                <div class="form__footer form__footer--end-horizontal">
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/check-in.js"></script>