<div class="modal modal--hidden" id="deletion-confirmation-modal">
    <div class="container container--padded">
        <p class="modal__header">Delete Reservation</p>
        <p class="modal__message">Are you sure you want to remove the reservation?</p>
        <div class="modal__confirmation-choices">
            <button type="button" class="modal__close button button--red" id="accept-deletion">Delete</button>
            <button type="button" class="modal__close button" id="reject-deletion">Cancel</button>
        </div>
    </div>
</div>