<div class="navbar">
    <div class="navbar__heading">
        <img src="/images/logo-van.png" alt="" class="logo--md">
    </div>
    <div class="navbar__user">
        <a><img src="/images/person.png" class="user-icon"></a>
        <div id="user-info">
            <p class="user-info__text--main">John Smith</p>
            <p class="user-info__text--main">11896718</p>
            <p class="user-info__text--sub">Reputation Points: 100</p>
        </div>
    </div>
</div>