<ul class="sidebar-navigation">
    <li class="sidebar-icons-title modal-toggle" data-modal-target="reservation-modal">Make A Reservation</li>
    <li>
    <a href="/reservation/my-reservations" id="my-reservations-link">
        <span class="sidebar-icons sidebar-icons-reservations" aria-hidden="true"></span> My Reservations
    </a>
    </li>
    <li>
    <a href="/profile" id="profile-link">
        <span class="sidebar-icons sidebar-icons-profile" aria-hidden="true"></span> Profile
    </a>
    </li>
    <li>
    <a href="/schedule" id="schedule-link">
        <span class="sidebar-icons sidebar-icons-schedule" aria-hidden="true"></span> Arrows Express Schedule
    </a>
    </li>
    <li>
    <a href="/logout">
        <span class="sidebar-icons sidebar-icons-logout" aria-hidden="true"></span> Logout
    </a>
    </li>
</ul>