<!DOCTYPE html>
<html>
<head>
    <title>Re: Arrows</title>
    <link rel="stylesheet" type="text/css" href="/styles/components.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body id="one-container-body">
    <div class="container container--padded">
        <img src="/images/logo-van.png" alt="Arrow Express Logo" class="logo--sm" style="margin: auto">
        <h2 class="container__title" style="font-size: 2.5em">{{title}}</h2>
        <p style="font-size: 1.2em">{{{message}}}</p>
    </div>
</body>
            
    
</html>