<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/components.css">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    <link rel="stylesheet" type="text/css" href="styles/navigation.css">
    <link rel="stylesheet" type="text/css" href="styles/forms.css">
    <script type="text/javascript" src="scripts/jquery-3.4.1.min.js"></script>    
    <script type="text/javascript" src="scripts/validation.js"></script>
    <script type="text/javascript" src="scripts/modal.js"></script>
    <script type="text/javascript" src="scripts/edit-profile.js"></script>

	<title>Profile</title>
</head>
<body class="nav-side">
    
    {{> reservation_modal}}
    {{> change_password_modal}}
    
    {{> navbar}}

	<div class="nav-side__main-section">
		<div class="nav-side__sidebar-section">
            {{> sidebar_regular}}
        </div>

        <div class="nav-side__content-section">
        	<div class="container container--padded container--fill">
                <form action="profile" class="form" id="form__profile" method="POST">
                    <div class="form__header">
                        <h2 class="container__title container__title--bg">Profile</h2>
                    </div>

                    <div class="form__input-group">
                        <div>
                            <label for="first-name" class="form__label">First Name</label>
                            <input type="text" id="first-name" name="first-name" class="form__input textonly editable" value="John" disabled>
                        </div>

                        <div>
                            <label for="last-name" class="form__label">Last Name</label>
                            <input type="text" id="last-name" name="last-name" class="form__input textonly editable" value="Smith" disabled>
                        </div>
                    </div>

                    <label for="email" class="form__label">DLSU Email</label>
                    <input type="email" id="email" name="email" class="form__input editable" value="john_smith@dlsu.edu.ph" disabled>

                    <label for="id-number" class="form__label">ID Number</label>
                    <input type="text" id="id-number" name="id-number" class="form__input numonly" value="11896718" disabled>
                    
                    <div class="form__footer form__footer--end-horizontal">
                        <button type="button" class="modal-toggle button" data-modal-target="change-password-modal" id="change-password-toggle">Change Password</button>
                    	<button type="reset" class="button" id="cancel-edit-profile" style="display:none">Cancel</button>
                        <button type="button" class="button" id="edit-profile-toggle">Edit Profile</button> 
                        <button type="submit" class="button" id="edit-profile-save" style="display:none;">Save</button>

                    </div>
                </form>
            </div>
        </div>
	</div>
</body>
</html>

	