<!DOCTYPE html>
<html>

<head>
    <title>Arrow's Express Schedule</title>
    <link type="text/css" rel="stylesheet" href="styles/components.css">
    <link type="text/css" rel="stylesheet" href="styles/navigation.css">
    <link type="text/css" rel="stylesheet" href="styles/layout.css">
    <link type="text/css" rel="stylesheet" href="styles/forms.css">
    <link type="text/css" rel="stylesheet" href="styles/table.css">
    <script type="text/javascript" src="scripts/modules/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="scripts/modules/validation.js"></script>
    <script type="text/javascript" src="scripts/modules/modal.js"></script>

</head>

<body class="nav-side">
    {{> reservation_modal}}

    {{> navbar}}
    <div class="nav-side__main-section">
        <div class="nav-side__sidebar-section">
            {{> sidebar_regular}}
        </div>
        <div class="nav-side__content-section">
            <div class="container container--bordered container--fill">
                <div class="container__header-section">
                    <h2 class="container__title">Arrows Express Schedule</h2>
                </div>
                <div class="container__content-section container__content-section--heavy-padding">
                    <div class="table table--full">
                        <form class="form  table__filters">
                            <label for="date" class="form__label">Date:</label>
                            <input type="date" id="date" class="form__input form__input--xs">

                            <label for="trip" class="form__label">Trip:</label>
                            <select id="trip" class="form__input form__input--xs">
                                <option>Laguna to Manila</option>
                                <option>Manila to Laguna</option>
                            </select>
                        </form>

                        <div class="table__content">
                            <table>
                                <thead class="table__heading">
                                    <tr>
                                        <th>Time</th>
                                        <th>Premium Slots</th>
                                        <th>Regular Slots</th>
                                    </tr>
                                </thead>

                                <tbody class="table__body">
                                    <tr>
                                        <td>6:00 AM</td>
                                        <td>1 / 5</td>
                                        <td>3 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>7:30 AM</td>
                                        <td>2 / 5</td>
                                        <td>1 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>9:30 AM</td>
                                        <td>5 / 5</td>
                                        <td>3 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>11:00 AM</td>
                                        <td>3 / 5</td>
                                        <td>3 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>1:00 PM</td>
                                        <td>5 / 5</td>
                                        <td>20 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>2:30 PM</td>
                                        <td>2 / 5</td>
                                        <td>3 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>3:30 PM</td>
                                        <td>1 / 5</td>
                                        <td>3 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>5:00 PM</td>
                                        <td>1 / 5</td>
                                        <td>6 / 25</td>
                                    </tr>
                                    <tr>
                                        <td>6:15 PM</td>
                                        <td>1 / 5</td>
                                        <td>4 / 25</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>