<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/components.css">
	<link rel="stylesheet" type="text/css" href="/styles/navigation.css">
	<link rel="stylesheet" type="text/css" href="/styles/table.css">
	<link rel="stylesheet" type="text/css" href="/styles/forms.css">
	<script type="text/javascript" src="/scripts/modules/jquery-3.4.1.min.js"></script> 
    <script type="text/javascript" src="/scripts/modules/validation.js"></script>
    <script type="text/javascript" src="/scripts/modules/modal.js"></script>
    <script type="text/javascript" src="/scripts/modules/table.js"></script>
    <script type="text/javascript" src="/scripts/user-reservations.js"></script>
	<title>Reservations</title>

</head>
<body class="nav-side">
	{{> check_in_modal}}
    {{> navbar}}

    <div class="nav-side__main-section">
		<div class="nav-side__sidebar-section">
			{{> sidebar_admin}}
		</div>
		<div class="nav-side__content-section">
			<div class="container container--bordered container--fill">
                <div class="container__header-section">
                    <h2 class="container__title">User Reservations</h2>
                </div>
                <div class="container__content-section container__content-section--heavy-padding">
                    <div class="table table--full"  id="user-reservations-table">
                        <form class="form  table__filters" id="user-reservations-filters">
                            <label for="user-reservations-filters__date" class="form__label">Date:</label>
                            <input type="date" id="user-reservations-filters__date" class="form__input form__input--xs"  value="{{getCurrentDate}}">
                    
                            <label for="user-reservations-filters__trip" class="form__label">Trip:</label>
                            <select id="user-reservations-filters__trip" class="form__input form__input--xs">
                                <option value="LAG-to-MNL">Laguna to Manila</option>
                                <option value="MNL-to-LAG">Manila to Laguna</option>
                            </select>
                            
                            <label for="user-reservations-filters__time" class="form__label">Time: </label>
                            <select id="user-reservations-filters__time" class="form__input form__input--xxs">
                            </select>
                        </form>
                        <div class="table__content">
                            <table>
                                <thead class="table__heading">
                                    <tr>
                                        <th>Name</th>
                                        <th>User Type</th>
                                        <th>ID Number</th>
                                    </tr>
                                </thead>
                        
                                <tbody class="table__body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>