<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles/layout.css">
    <link rel="stylesheet" type="text/css" href="styles/components.css">
	<link rel="stylesheet" type="text/css" href="styles/navigation.css">
	<link rel="stylesheet" type="text/css" href="styles/table.css">
	<link rel="stylesheet" type="text/css" href="styles/forms.css">
	<script type="text/javascript" src="scripts/jquery-3.4.1.min.js"></script> 
    <script type="text/javascript" src="scripts/reservation.js"></script>
    <script type="text/javascript" src="scripts/textbox.js"></script>

	<title>Reservations</title>

</head>
<body class="nav-side">

	{{> check_in_modal}}
    {{> navbar}}

    <div class="nav-side__main-section">
		<div class="nav-side__sidebar-section">
			{{> sidebar_admin}}
		</div>
		<div class="nav-side__content-section">
			<div class="container container--bordered container--fill">
                <div class="container__header-section">
                    <h2 class="container__title">User Reservations</h2>
                </div>
                <div class="container__content-section container__content-section--heavy-padding">
                    <div class="table table--full">
                        <form class="form  table__filters">
                            <label for="date" class="form__label">Date:</label>
                            <input type="date" id="date" class="form__input form__input--xs">
                    
                            <label for="trip" class="form__label">Trip:</label>
                            <select id="trip" class="form__input form__input--xs">
                                <option>Laguna to Manila</option>
                                <option>Manila to Laguna</option>
                            </select>
                            
                            <label for="time" class="form__label">Time: </label>
                            <select id="trip" class="form__input form__input--xxs">
                                <option value="0545">5:45 AM</option>
                                <option value="0700">7:00 AM</option>
                                <option value="0730">7:30 AM</option>
                                <option value="0900">9:00 AM</option>
                                <option value="1100">11:00 AM</option>
                                <option value="1300">1:00 PM</option>
                                <option value="1430">2:30 PM</option>
                                <option value="1530">3:30 PM</option>
                                <option value="1700">5:00 PM</option>
                                <option value="1815">6:15 PM</option>
                            </select>
                        </form>
                    </div>
                        <div class="table__content">
                        <table>
                            <thead class="table__heading">
                                <tr>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>ID Number</th>
                                </tr>
                            </thead>
                    
                            <tbody class="table__body">
                                <tr>
                                    <td>Crouch, Cindy</td>
                                    <td>Student</td>
                                    <td>11865128</td>
                                </tr>
                                <tr>
                                    <td>Parker, Heather</td>
                                    <td>Teacher</td>
                                    <td>11846578</td>
                                </tr>
                                <tr>
                                    <td>Hall, Diane</td>
                                    <td>Student</td>
                                    <td>11865128</td>
                                </tr>
                                <tr>
                                    <td>Scott, Martin</td>
                                    <td>Student</td>
                                    <td>11846273</td>
                                </tr>
                                <tr>
                                    <td>Simmons, Nicole</td>
                                    <td>Student</td>
                                    <td>11899231</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
	</div>




    
    <script type="text/javascript" src="scripts/modal.js"></script>

</body>
</html>